.input_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.input_form{
    border: none;
    border-bottom: solid 1px rgb(17, 17, 17);
    border-radius: 0;
}

.label_form{
    width: 35%;
}